header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
        width: 40%;
        display: flex;
        justify-content: space-between;
        font-size: large;
        span {
            cursor: pointer;
            padding: 0 3px;
        }
    }

    @include mobile-devices {
        border: solid red;
        width: 100%;

        .navigation {
            display: none;
        }

        button {
            display: none;
        }
    }
}